body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 769px) {
  .profile-pic {
    height: 230px;
    width: 200px;
  }
  .profile {
    height: 700px !important;
  }
  .profile-social {
    height: 100px;
  }
  .profile-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .parent-container {
    height: 800px;
  }

}

.hero-div {
  /* border: 1px black solid; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/cW5lDBG/glowing-light-blue-abstract-programming-code-background-on-dark-software-or-script-development-concept_rgg0rnttyl_thumbnail-1080_01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-box {
  width: 100%;
  /* border: solid 1px white; */
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.profile {
  width: 800px;
  height: 450px;
  /* border: 1px solid white; */
  background-color: #35363b;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}
.profile-pic {
  margin: 35px;
  /* margin-top: 15px; */
  /* width: 250px; */
  border-radius: 3px;
  
}

.profile-social {
  /* border: 1px solid white; */
  width: 800px;
  height: 100px;
  background-color: #8dc24c;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-github {
  font-size: 35px;
  margin: 15px;
}
.fa-linkedin {
  font-size: 35px;
  margin: 15px;
}

.junior-developer {
  color: #d4d4d5;
  margin: 20px;
  margin-bottom: 60px;
  font-size: 25px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
}
.name-intro {
  margin-top: 35px;
  color: #d4d4d5;
}
.name {
  font-weight: bold;
  padding-top: 15px;
  font-size: 25px;
}

.profile-list .title {
  font-size: 18px;
  float: left;
  width: 100px;
  margin-right: 60px;
  margin-left: 50px;
  text-align: start;
  color: #d4d4d5;
}
.profile-list .li-item {
  float: right;
  font-size: 15px;
  color: #84898e;
}

.profile-intro {
  /* border: 1px solid white; */
  /* height: 114%; */
  height: 400px;;
}

ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.intro-text {
  align-self: center;
}

.my-projects {
  /* border: 1px solid black; */
  height: 40px;
  margin-bottom: 25px;
  font-size: 20px;
}

.skills-container {
  display: flex;
  /* border: 1px solid black; */
  height: 400px;
  width: 50%;
  /* background-color: #0a1a03; */
  font-size: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 40px 0px;
  border-radius: 4px;
}
.parent-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
}
i {
  color: white;
  margin: 12px;
}
i:hover {
  color: greenyellow;
}
section {
  /* border-bottom: 5px solid black; */
  background-color:rgb(26, 26, 26);
}
.project-1 {
  background-image: url("./images/Frogger.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}
.project-2 {
  background-image: url("./images/Cities.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.project-3 {
  background-image: url("./images/NutriFix.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.project-4 {
  background-image: url("./images/FitnessTrackerApp.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.my-projects-title {
  color: #8dc24c;
  font-size: 25px;
}
.skills-title {
  color: #8dc24c;
  font-size: 40px;
}
figure {
  border-radius: 4px;
}
.card {
  border-radius: 4px;
  background-color: #fafafa !important;
}
.skills-container1 {
  /* border: 1px solid white; */
  border-radius: 4px;
}
.skills-container-title {
  color: #8dc24c;
  font-size: 30px;
}
.icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 50px;
}